<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Элемент title</title>
</head>
<body>
<div style="width: 100%; height: 100%; position: relative; background: #2D2D2D">
    <!--<img style="width: 2177px; height: 4618px; left: -26px; top: 0px; position: absolute" src="https://via.placeholder.com/2177x4618" />-->
    <div style="width: 1500px; height: 3906px; left: 240px; top: 330px; position: absolute; opacity: 0.80; background: #393A3A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 50px; border: 1px black solid"></div>
    <div style="width: 1914px; height: 970px; left: 33px; top: 215px; position: absolute; background: #393A3A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 50px; border: 1px black solid"></div>
    <div style="width: 535px; height: 189px; left: 347px; top: 882px; position: absolute">
        <div style="width: 535px; height: 189px; left: 0px; top: 0px; position: absolute; background: #2D2D2D; border-radius: 15px; border: 1px #2D2D2D solid"></div>
        <div style="width: 371px; height: 34px; left: 69px; top: 77px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Создать желание</div>
    </div>
    <div style="width: 1914px; height: 1339px; left: 33px; top: 1271px; position: absolute; background: #393A3A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 50px; border: 1px black solid"></div>
    <!--<img style="width: 370px; height: 400px; left: 805px; top: 1425px; position: absolute" src="https://via.placeholder.com/370x400" />-->
    <div style="width: 1914px; height: 1339px; left: 33px; top: 2700px; position: absolute; background: #393A3A; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) inset; border-radius: 50px; border: 1px black solid"></div>
    <div style="width: 1980px; height: 143px; left: 0px; top: 0px; position: absolute; background: #2D2D2D; box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.25); border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px black solid"></div>
    <div style="width: 1980px; height: 477px; left: 0px; top: 4101px; position: absolute; background: #2D2D2D; box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.25); border-top-left-radius: 30px; border-top-right-radius: 30px; border: 1px black solid"></div>
    <img style="width: 705px; height: 498px; left: 698px; top: 1576px; position: absolute" src="https://via.placeholder.com/705x498" />
    <div style="width: 371px; height: 57px; left: 1276px; top: 46px; position: absolute">
        <div style="width: 274px; height: 57px; left: 66px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
            <div style="width: 239px; height: 57px; background: #393A3A; border-radius: 15px; border: 1px #393A3A solid"></div>
        </div>
        <div style="width: 371px; height: 34px; left: 0px; top: 14px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Создать желание</div>
    </div>
    <div style="width: 317px; height: 57px; left: 1686px; top: 46px; position: absolute">
        <div style="width: 155px; height: 57px; left: 81px; top: 0px; position: absolute; background: #393A3A; border-radius: 15px"></div>
        <div style="width: 317px; height: 29px; left: 0px; top: 14px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">Вход</div>
    </div>
    <div style="width: 64px; height: 57px; left: 1687px; top: 46px; position: absolute; background: #393A3A; border-radius: 15px"></div>
    <div style="width: 599px; height: 363px; left: -20px; top: -83px; position: absolute">
        <!--<img style="width: 514px; height: 363px; left: 85px; top: 0px; position: absolute" src="https://via.placeholder.com/514x363" />
        <img style="width: 276px; height: 298px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/276x298" />-->
    </div>
    <div style="width: 193px; height: 34px; left: 621px; top: 60px; position: absolute; text-align: center; color: white; font-size: 24px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">О нас</div>
    <!--<img style="width: 74px; height: 74px; left: 1682px; top: 37px; position: absolute; border-radius: 45px" src="https://via.placeholder.com/74x74" />-->
    <div style="width: 934px; height: 138px; left: 523px; top: 297px; position: absolute; text-align: center; color: white; font-size: 64px; font-family: Inter; font-weight: 700; line-height: 60px; word-wrap: break-word">Создай свой список желаний</div>
    <!--<img style="width: 564px; height: 847px; left: 1280px; top: 316px; position: absolute" src="DreamBoard/DreamBoard/static/img/stars.png" />-->
    <div style="width: 647px; height: 211px; left: 278px; top: 610px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Inter; font-weight: 500; line-height: 45px; word-wrap: break-word">Мечтали о чем-то?<br/>Самое время... бла бла</div>
    <div style="width: 481px; height: 158px; left: 361px; top: 734px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Inter; font-weight: 500; line-height: 45px; word-wrap: break-word">Еще немного текста о мечтах жизни и всякого наполнения подобного типа</div>
    <!--<img style="width: 734.80px; height: 753.97px; left: -51.02px; top: -12px; position: absolute; transform: rotate(17.44deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />
    <img style="width: 734.80px; height: 753.97px; left: -334px; top: 447.27px; position: absolute; transform: rotate(-18.35deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />-->
    <div style="width: 1033px; height: 341px; left: 499px; top: 1335px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">Еще что-то, типа подборок( категорий), реализуемых после </div>
    <!--<img style="width: 734.80px; height: 753.97px; left: -50px; top: 1796.27px; position: absolute; transform: rotate(-18.35deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />
    <img style="width: 734.80px; height: 753.97px; left: 15px; top: 1185.27px; position: absolute; transform: rotate(-18.35deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />
    <img style="width: 811.45px; height: 841.95px; left: -344px; top: 2121.22px; position: absolute; transform: rotate(-16.41deg); transform-origin: 0 0" src="https://via.placeholder.com/811x842" />
    <img style="width: 774.49px; height: 776.63px; left: 883.97px; top: 1718.17px; position: absolute; transform: rotate(18.54deg); transform-origin: 0 0" src="https://via.placeholder.com/774x777" />
    <img style="width: 734.80px; height: 753.97px; left: 1594.31px; top: 1358px; position: absolute; transform: rotate(37.43deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />
    <img style="width: 396px; height: 501px; left: 336px; top: 2058px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/396x501" />
    <img style="width: 527px; height: 527px; left: 98px; top: 1431px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/527x527" />
    <img style="width: 344px; height: 459px; left: 1519px; top: 1358px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/344x459" />
    <img style="width: 554px; height: 554px; left: 1224px; top: 1958px; position: absolute; border-radius: 30px" src="https://via.placeholder.com/554x554" />-->
    <div style="width: 1181px; height: 323px; left: 65px; top: 4159px; position: absolute; text-align: center; color: white; font-size: 40px; font-family: Inter; font-weight: 700; line-height: 50px; word-wrap: break-word">Подвал сайта</div>
    <img style="width: 734.80px; height: 753.97px; left: 925px; top: 1453.27px; position: absolute; transform: rotate(-18.35deg); transform-origin: 0 0" src="https://via.placeholder.com/735x754" />
</div>
</body>
</html>